<div class="collapsible collapsible--expanded">
  <div class="collapsible__header">
    <h3 class="collapsible__heading">Products</h3>
    <svg class="icon icon--white collapsible__icon">
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
  </div>
  <div class="collapsible__content">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore rem
      adipisci iusto corrupti animi explicabo.
    </p>
  </div>
</div>
<hr />
<div class="collapsible collapsible--expanded">
  <div class="collapsible__header">
    <h3 class="collapsible__heading">Products</h3>
    <svg class="icon icon--white collapsible__icon">
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
  </div>
  <div class="collapsible__content">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore rem
      adipisci iusto corrupti animi explicabo.
    </p>
  </div>
</div>
