<section class="block block--dark block--skewed-left panel">
  <header class="block__header">
    <h2>User-Friendly Control Panel</h2>
  </header>
  <article class="container grid grid--cols-2 panel__content">
    <picture class="panel__image">
      <source
        type="image/webp"
        srcset="images/ipad.webp 1x, images/ipad@2x.webp 2x" />
      <source
        type="image/png"
        srcset="images/ipad.png 1x, images/ipad@2x.png 2x" />
      <img src="images/ipad.png" alt=""
    /></picture>

    <ul>
      <li class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#snap"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Easy Start & Managed Updates</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
            ipsum cum recusandae, odio consequuntur totam ad inventore
            voluptatem id dolorem!
          </p>
        </div>
      </li>
      <li class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#growth"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Staging, Git & WP-CLI</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
            ipsum cum recusandae, odio consequuntur totam ad inventore
            voluptatem id dolorem!
          </p>
        </div>
      </li>
      <li class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#wordpress"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Dynamic Caching and More</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
            ipsum cum recusandae, odio consequuntur totam ad inventore
            voluptatem id dolorem!
          </p>
        </div>
      </li>
    </ul>
  </article>
</section>
